body{

text-color:#ffff;
margin:0px;
padding:0px;

}
.header{

 background-color:#53354a;



}
h1{

font-family: 'Graduate', cursive;


}
h1:hover{

color:#eff7e1;;


}

h6{

color:#fff3e6;

font-size:2px;
}

h6:hover{

background-color:#eff7e1;
color:black;


}

.header{

padding:3% 5%;


}

.navbar{
 background-color:#53354a;
color:#ffff;
  width:100%;


}
.navbar-brand{


color:#fff;
font-size:20px;

}



.title-image{

width:49vw;
height:500px;



}

.big-heading{
text-align:"center";
font-family: 'Graduate', cursive;
margin: 160px  auto auto 25px;

}

#title{


background-color:#b4a5a5;

}

.middle-image{


width:100%;
height:1000px;


}



.white-section{

padding:3% 15%;
background-color:#3a6351;
text-align: center;



}

.social-icon: hover{
 transform: scale(1.5);
}
#footer{
  padding: 10px 20px;
  background-color: #edeef7;
}
